body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E5E5;;
}

.topo {
    position: fixed;
    top: 0;
    left: 0;
    height: 54px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    margin-bottom: 34px;
    z-index: 1;
    
}

.barra {
    background-color: #DBDBDB;
    width: 1px;
    height: 22px;
    align-items: center;
    
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 144.62px;
    height: 29px;
}

.instagram {
    height: 29px;
    width: 103px;


}

.botao-inicial {
    width: 25px;
    height: 25px;

}


.pesquisar {
    box-sizing: border-box;
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #979797;
    
}

.icones-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17.88px;
    width: 143.19px;
    
}

.direct {
    width: 23px;
    height: 23px;
}
.explorar {
    width: 23px;
    height: 23px;
}

.atividade {
    width: 25px;
    height: 25px;
}

.perfil {
    width: 22px;
    height: 22px;
}

.perfil :nth-child(1){
    position: absolute;
    height: 8.25px;
    width: 7.6px;
    left: 4.455px;
    top: 0;

}

.perfil :nth-child(2){
    position: absolute;
    height: 6.875px;
    width: 16.5px;
    bottom: 0;
    left: 0;
}

.conteiner {
    display: flex;
    position: relative;
    left: 0;

    background-color: #E5E5E5;
}

.sidebar {
    position: fixed;
    top: 111px;
    left: 670px;
    width: 293px;
    height: 466px;
    margin-left: 28px;
}

.conteudo {
    position: absolute;
    margin-left: 60px;
    height: 2000px;
    width: 614px;
    top: 88px;

}

.imgprin {
    width: 56px;
    height: 56px;
    padding-right: 20px;
}

.imgsec {
    width: 32px;
    height: 32px;
}

/* h1 e para os titulos das paginas */
h1 {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #262626;


}

/*o h2 e para os "sub-titulos*/
h2 {
    font-size: 14px;
    font-weight: 300;
    text-align: left;

}

p {
    font-size: 12px;
    font-weight: 400;
    text-align: left; 
    color: #8E8E8E; 
}

.sidebar :nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sugestoes > div {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 32px;
    margin: 17px 0;
}



.info {
    font-weight: 400;
    font-size: 11px;
    color: #c7c7c7;
    margin: 18px 0;
}

.caixa-story {
    height: 118px;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    overflow: hidden;
    position: relative;
    border: 1px solid #DBDBDB;
    
}

.botao-story {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 46px;
    right: 1.5%;
    z-index: 2;
    color:#FFFFFF;
}

.story {
    position: relative;
    margin:0 15px;
    display: flex;
    top: 18px;
    left: 0;
    height: 86px;
    width: 68px;
}

.story :nth-child(1) {
    width: 66px;
    height: 66px;
    position: absolute;
    left: 0;
    top: 0px;
}

.story :nth-child(2) {
    height: 56px;
    width: 56px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.story :nth-child(3) {
    font-size: 12px;
    font-weight: 400;
    margin-top: 1px;
    position: absolute;
    height: 19px;
    width: 66px;
    left: 0px;
    top: 67px;
    color: #262626;
    text-align: center;
    overflow: hidden;
}

.caixa-post > div {
    box-sizing: border-box;
    width: 614px;
    height: 749px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin: 30px 0;;
    display: flex;
    align-items: center;
    position: relative;
}

.img-post {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15px;
    margin: 0 16px;
}

.caixa-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-post {
    position: absolute;
    top: 23px;
    left: 62px;
    font-size: 14px;
    font-weight: 500;

}

.reticencia {
    display: flex;
    position: absolute;
    width: 13px;
    right: 3%;
    top: 4%;
    justify-content: space-between;
}

.reticencia img {
    height: 3px;
    width: 3px;
}

.conteudo-post {
    position: absolute;
    width: 612px;
    height: 612px;
    top: 8.1%;
    left: 1px;


}

.acoes-post {
    width: 88.18px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 44px;
    left: 2.9%;

}

.acoes-post :nth-child(1) {
    height: 19.5px;
    width: 19.5px;
}

.acoes-post :nth-child(2) {
    height: 19.81px;
    width: 19.81px;
}

.acoes-post :nth-child(3) {
    height: 20.81px;
    width: 20.81px;
}

.icone-salvar {
    position: absolute;
    height: 26.875px;
    width: 21.375px;
    bottom: 44px;
    right: 17.72px;
}

.curtidas {
    position: absolute;
    left: 2.9%;
    bottom: 14px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}

.curtidas strong {
    font-weight: 500;
    padding: 0 4px; 
}

.curtidas img {
    
    height: 20px;
    width: 20px;
    margin-right: 5px;

}

.barra-inferior {
    display: none;
}




@media(max-width: 935px){

    .conteiner {
        position: absolute;
        margin: 30px 0;
        left: 7vw;
    }
    .sidebar {
        display: none;
    }

    .

    .conteudo {

        width: 70vw;


    }

    .caixa-story {
        width: 70vw;


    }

    .caixa-post > div {
        width: 70vw;
   
    }

    .caixa-post {
        width: 70vw;
    }

    .conteudo-post {
        width: 68.55vw;
    }

    .caixa-story > div {
        display: initial;
    }

}
@media(max-width: 614px){

    .botao-story {
        display: none;
    }

    .barra-inferior{
        display: initial;
    }

    .pesquisar {
        display: none;
    }

    .topo {
        justify-content: space-around;
    }

    .explorar {
        display: none;
    }

    .atividade {
        display: none;
    }

    .perfil {
        display: none;
    }

    .barra {
        display: none;
    }

    .logo {
        position: initial;
    }

    .botao-inicial {
        position: absolute;
        left: 3.5%;
        top: 32.2%;
    }

    .instagram {
        position: absolute;
        left: 41.67%;
        top: 32.2%;
    }

    .direct {
        position: absolute;
        left: 94%;
        top: 32.2%;
    }

    .conteiner {
        width: 100vw;
        left: 0;
        margin: 0;
    }
    .conteudo {
        width:100vw;
        left: 0;
        margin: 0;
    }

    .caixa-post {
        width: 100vw;

    }

    .caixa-post > div {
        height: 749px;
        width: 100vw;
        margin: 0;
        margin-bottom: 60px;
    }

    .conteudo-post {
        margin: 30px 0;
        height: 612px;
        width: 100vw;
        top: 4%;
        left: 0;
    }


    .caixa-story {
        width: 100vw;
    }

    .barra-inferior {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: space-around;
        z-index: 1;
        background-color: #FFFFFF;
        border: 1px solid #DBDBDB;
        align-items: center;
    }

    .barra-inferior ion-icon {
        width: 16.5px;
        height: 16.5px;
    }
    

}